.Side {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 100%;
    background: #fff;
    .footer {
        padding: 10px;
        position: absolute;
        bottom: 0;
    }
}
