@import '../../../styles/mixin.scss';

.Side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background: #fff;
    .footer {
        display: flex;
        justify-content: center;
        padding: 10px;
        position: absolute;
        bottom: 50px;
        font-size: 0.8rem;
    }
}
@include mobile {
    .Side {
        width: 60px;
        .site-layout-background {
            width: 60px !important;
            min-width: 60px !important;
            .ant-menu {
                width: 100%;
            }
        }
        .ant-layout-sider-trigger {
            display: none;
        }
    }
    .ant-menu-item {
        font-size: 0.8rem;
    }
}
