.ButtonForm {
    text-align: center;
    input {
        width: 47%;
        padding: 10px 0;
        transition: all 0.3s;
        margin: 0 4px;
        color: #fff;
        font-size: 1.1em;
        outline: none;
    }
    .cancel {
        border: 1px solid #e93956;
        background: #e93956;
        &:hover {
            border: 1px solid #c22942;
            background: #c22942;
        }
    }
    .save {
        border: 1px solid #56a845;
        background: #56a845;
        &:hover {
            border: 1px solid #438a35;
            background: #438a35;
        }
    }
}
