.Form {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 80% 20%;
    grid-template-rows: 50% 45% 5%;
    width: 70%;
    min-width: 930px;
    margin: 0 auto;
    .InputForm {
        grid-column: 1;
        grid-row: 1/4;
    }
    .PreviewForm {
        grid-column: 2;
        grid-row: 1;
    }
    .ThumbnailForm {
        grid-column: 2;
        grid-row: 2;
    }
    .ButtonForm {
        grid-column: 2;
        grid-row: 3;
    }
}
