@import '../../../styles/mixin.scss';
.Header {
    font-weight: normal;
    & > h2 {
        color: white;
    }
    @include desktop {
        & > h2 {
            font-size: 1.2rem;
        }
    }
    @include tablet {
        & > h2 {
            font-size: 1.6rem;
        }
    }
    @include mobile {
        padding: 0 15px !important;
        & > h2 {
            font-size: 1.7rem;
        }
        .ant-menu-submenu-title {
            font-size: 1.3rem;
        }
        & li {
            padding: 0 7px !important;
        }
    }
}
