@import '../../../styles/mixin.scss';
.Header {
    font-weight: normal;
    & > h2 {
        color: white;
    }
    @include desktop {
        height: 10%;
        & > h2 {
            font-size: 1.2rem;
        }
    }
    @include tablet {
        & > h2 {
            font-size: 1.2rem;
        }
    }
    @include mobile {
        padding: 0 15px !important;
        & > h2 {
            font-size: 1.7rem;
        }
        & > ul {
            font-size: 1.3rem;
            & li {
                padding: 0 7px !important;
            }
        }
    }
}
