@import "../../../styles/mixin.scss";

body {
  overflow: hidden;
}

.PageContents {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  .content {
    width: 70%;
    pre {
      height: 47%;
      white-space: pre-wrap;
      overflow: auto;
      word-break: break-all;
    }
  }
  .image {
    .swiper-container {
      padding-top: 0;
      width: 500px;
      height: 280px;
    }

    .swiper-slide {
      width: 500px;
      height: 280px;
      overflow: hidden;
    }

    img {
      width: 100%;
      object-fit: cover;
    }
  }
  @include desktop {
    .content {
      width: 60%;
    }
    .image {
      img {
        width: 500px;
      }
    }
  }

  @include tablet {
    .content {
      width: 50%;
    }
    .image {
      img {
        width: 360px;
      }
    }
  }

  @include mobile {
    .content {
      width: 40%;
    }
    .image {
      img {
        width: 170px;
      }
    }
  }
}
