@import "../../../styles/mixin.scss";

.ArticleList {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  .infinite-scroll-component__outerdiv {
    margin: 0 auto;
    .infiniteScrollWrapper {
      width: 100%;
      text-align: center;
      &::-webkit-scrollbar {
        display: none;
      }
      .ArticleItem {
        width: 100%;
      }
    }
  }

  @include desktop {
    width: 100%;
    min-width: 800px;
    height: 100%;
    overflow-y: scroll;
    .infinite-scroll-component__outerdiv {
      width: 70%;
      .infiniteScrollWrapper {
        width: 100%;
        .ArticleItem {
          width: 100%;
        }
      }
    }
  }
  @include tablet {
    width: 100%;
    min-width: 300px;
    height: 100%;
    overflow-y: scroll;
    .infinite-scroll-component__outerdiv {
      width: 85%;
      .infiniteScrollWrapper {
        width: 100%;
        .ArticleItem {
          width: 100%;
        }
        .ant-result * {
          font-size: 1.2rem;
        }
      }
    }
  }
  @include mobile {
    width: 100%;
    min-width: 300px;
    height: 100%;
    overflow-y: scroll;
    .infinite-scroll-component__outerdiv {
      width: 95%;
      .infiniteScrollWrapper {
        margin-top: 0;
        width: 100%;
        .ant-card {
          .ant-card-head {
            font-size: 1.2rem;
            padding: 0 10px;
            height: 30px;
            min-height: 30px;
            .ant-card-head-title {
              padding: 7.5px 0;
            }
          }
          .ant-card-body {
            padding: 10px;
          }
        }
        .ArticleItem {
          width: 100%;
        }
        .ant-result {
          .ant-result-icon {
            margin-bottom: 0;
            svg {
              width: 50px;
            }
          }
          .ant-result-title {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
