.circles-list {
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.circles-content {
  padding-top: 20px;
  padding-bottom: 20px;
}
