@import '../../../styles/mixin.scss';

.NoticeItem {
    text-align: center;
    .NoticeItem-wrapper {
        border: 1px solid rgb(235, 237, 240);
        margin: 0 auto;
        .NoticeItem-images-few {
            margin: 0 auto;
            .NoticeItem-image-wrapper {
                display: none;
                &:nth-child(1) {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                }
                img {
                    transition: transform 0.2s;
                    &:hover {
                        transform: scale(1.02);
                    }
                }
            }
        }
        .NoticeItem-images-lot {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 auto;
            .NoticeItem-image-wrapper {
                display: none;
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    background: #000;
                    margin: 2px;
                }
                img {
                    transition: transform 0.2s;
                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }
        }
        .NoticeItem-youtube {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .NoticeItem-content {
            pre {
                width: 100%;
                text-align: left;
                white-space: pre-wrap;
                font-family: inherit;
            }
        }
        .NoticeItem-file {
            margin-top: 20px;
            & a {
                transition: all 0.3s;
            }
            & a:hover {
                text-decoration: underline;
            }
        }
    }
    @include desktop {
        width: 100%;
        .NoticeItem-wrapper {
            width: 70%;
            padding: 0 40px;
            min-width: 900px;
            .NoticeItem-images-few {
                width: 100%;
                margin: 0 auto;
                .NoticeItem-image-wrapper {
                    &:nth-child(1) {
                        width: 70%;
                        height: 50vh;
                        min-height: 400px;
                        margin: 0 auto;
                    }
                    img {
                        width: 100%;
                    }
                }
            }
            .NoticeItem-images-lot {
                width: 100%;
                .NoticeItem-image-wrapper {
                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4) {
                        width: 49%;
                        height: 35vh;
                        margin: 1px;
                    }
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }

            .NoticeItem-content {
                margin: 10px 0 20px 0;
                pre {
                    padding: 10px;
                    margin: 5px 2px;
                    font-size: 1.4rem;
                }
            }
            .NoticeItem-file {
                margin-top: 20px;
            }
        }
    }
    @include tablet {
        width: 100%;
        .NoticeItem-wrapper {
            width: 80%;
            padding: 0 20px;
            min-width: 500px;
            .NoticeItem-images-few {
                .NoticeItem-image-wrapper {
                    &:nth-child(1) {
                        width: 100%;
                        height: 30vh;
                        min-height: 200px;
                    }
                }
            }
            .NoticeItem-images-lot {
                .NoticeItem-image-wrapper {
                    display: none;
                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4) {
                        width: 49%;
                        height: 20vh;
                    }
                }
            }
            .NoticeItem-content {
                pre {
                    margin: 7px 0 20px 0;
                    text-align: justify;
                    font-size: 1.5rem;
                }
            }
            .NoticeItem-file {
                margin-top: 10px;
            }
        }
    }
    @include mobile {
        width: 100%;
        .NoticeItem-wrapper {
            width: 90%;
            padding: 0 10px;
            min-width: 250px;
            .ant-page-header {
                padding: 10px 0 5px 0;
                .ant-page-header-heading {
                    .ant-page-header-heading-left {
                        .ant-page-header-back {
                            margin-right: 7px;
                            .ant-page-header-back-button {
                                display: flex !important;
                            }
                        }
                        span {
                            font-size: 1.6rem;
                        }
                    }
                }
                .ant-page-header-content {
                    padding-top: 0;
                    & * {
                        font-size: 1.3rem;
                    }
                }
            }
            .NoticeItem-images-few {
                .NoticeItem-image-wrapper {
                    &:nth-child(1) {
                        width: 100%;
                        height: 25vh;
                        min-height: 50px;
                    }
                }
            }
            .NoticeItem-images-lot {
                .NoticeItem-image-wrapper {
                    display: none;
                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4) {
                        width: 49%;
                        height: 13vh;
                        margin: 1px;
                    }
                }
            }
            .NoticeItem-content {
                margin: 10px 0 20px 0;
                pre {
                    margin: 7px 0;
                    font-size: 1.7rem;
                }
            }
            .NoticeItem-file {
                margin-top: 10px;
                font-size: 0.9rem;
            }
        }
    }
}
